    </div> <!--the closing tag for the main container-->
    <footer>
      <div class="footer-wrapper">
        <h3>{ p }</h3>
        <div>
          <p>
            <a href="/about">About</a>|
            <a href="/about">Contact</a>|
            <a href="/about">GitHub</a>|
          </p>
          <p>Developed with 💖 by Jazelle Cruz</p>
          <p>This project was inspired by 
            <a href="//dummyjson.com"
              target="_blank" 
              rel="noopener noreferrer">
              DummyJSON
              </a>
            </p>
          <p id="copyright">&#169; </p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="js/index.js"></script>
  </body>
</html>