<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PseudoJSON - A REST API for dummy data</title>
  <link rel="icon" href="images/logo2.ico" sizes="180x180" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="navbar">
    <h3 class="logo"><a href="/">{ p }</a></h3>
    <div class="navlinks-container">
      <ul>
        <li>
          <a href="/docs">Documentation</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="//github.com/jazellecruz/PseudoJSON-rest-api"
            target="_blank" 
            rel="noopener noreferrer">
            GitHub
          </a>
        </li>
      </ul>
    </div>
    <button class="navbar-btn" id="responsive-toggle-btn">
      <img class="menu-icon" src="images/menu-icon.png" alt="" srcset="">
      <img class="close-icon" src="images/close-icon.png" alt="" srcset="">
    </button>
  </div>

