<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PseudoJSON - A REST API for dummy data</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/index.js"></script>
</head>
<body>
  <div class="navbar">
    <h3>{ p }</h3>
    <div class="navlinks-container">
      <ul>
        <li>
          <a href="/docs">Documentation</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="//github.com/jazellecruz/PseudoJSON-rest-api"
            target="_blank" 
            rel="noopener noreferrer">
            GitHub
          </a>
        </li>
      </ul>
    </div>
    <button class="navbar-btn" id="responsive-toggle-btn">
      <img class="menu-icon" src="images/menu-icon.png" alt="" srcset="">
      <img class="close-icon" src="images/close-icon.png" alt="" srcset="">
    </button>
  </div>

