<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="rest api, mongodb, nodejs, expressjs, api, restful, github rest api, json">
  <meta name="description" 
    content="A simple REST API that has different ENDPOINTS ready to send dummy JSON data for your Frontend applications.">
  <title>PseudoJSON - <%= title %></title>
  <link rel="icon" href="images/logo2.ico" sizes="180x180" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/material-darker.min.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/docs.css">
  <link rel="stylesheet" href="css/about.css">
  <link rel="stylesheet" href="css/global.css">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TY3KTMEXP7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TY3KTMEXP7');
  </script>
</head>

    

