<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header") %>
<body>
  <main>
    <%- include("./partials/navbar") %>
    <div class="about">
      <div class="sub-section">
        <h1 class="header product-name">PseudoJSON</h1>
        <p>A REST API that sends dummy JSON data for testing and prototyping your Frontend apps/projects. 
          This API is free and does not require any registration to use. Made with NodeJS, ExpressJS, and MongoDB.
        </p>
      </div>
   
      <div class="sub-section">
        <h3 class="header">Credits</h3>
        <p><a href="//fakenamegenerator.com"
            target="_blank" 
            rel="noopener noreferrer">
          Fake Name Generator
        </a>
        - For generating dummy users with information.</p>
        <p><a href="//dicebear.com"
            target="_blank" 
            rel="noopener noreferrer">
            DiceBear Avatars
          </a>
          - For user images.</p>
        <p><a href="//lipsum.com"
            target="_blank" 
            rel="noopener noreferrer">
            Lipsum Generator
          </a>
          - For lorem ipsum texts for posts data.</p>
      </div>
     
    </div>
  </main>
  <%- include("./partials/footer") %>
  <%- include("./partials/scripts") %>
</body>
</html>