<%- include("./partials/header") %>


  <div class="hero-section">
    <p class="hero-title">{ PseudoJSON }</p>
    <p class="hero-subtitle">Simple. Minimalistic. Unproblematic.</p>
    <button class="action-btn">Get Started</button>
    <button class="action-btn">View GitHub</button>
  </div>
  
  <div class="about-section">
    <p class="header-title">What is PseudoJSON?</p>
    <p class="desc">PseudoJSON is a REST API developed as a small project. 
      It was created as a helper for when you need dummy data for testing and prototyping your Frontend applications.</p>
  </div>

  <div>

  </div>

  <div class="resources-section section">
    <p class="header-title">Resources</p>
    <p class="desc">Here are the resources that can be accessed through our API:</p>
    <table class="resources-list">
      <tr>
        <td><a href="/quotes">/quotes</a></td>
        <td>100 quotes</td>
      </tr>
      <tr>
        <td><a href="/posts">/posts</a></td>
        <td>100 posts</td>
      </tr>
      <tr>
        <td><a href="/users">/users</a></td>
        <td>20 users</td>
      </tr>
    </table>
    <p class="note">Note: Results are paginated by 20. Pass pageSize=100 as a parameter to get all results. Also, new resources may be added in the future.</p>
  </div>

  <div class="routes-section section">
    <p class="header-title">Routes</p>
    <p class="desc">HTTPS and HTTP are both supported.</p>
    <table class="routes-list">
      <tr>
        <td><a href="/quotes">/quotes</a></td>
        <td>Get all quotes</td>
      </tr>
      <tr>
        <td><a href="/quotes/1">/quotes/1</a></td>
        <td>Get all quote by ID</td>
      </tr>
      <tr>
        <td><a href="/posts">/posts</a></td>
        <td>Get all posts</td>
      </tr>
      <tr>
        <td><a href="/posts/1">/posts/1</a></td>
        <td>Get post by ID</td>
      </tr>
      <tr>
        <td><a href="/users">/users</a></td>
        <td>Get all 20 users</td>
      </tr>
      <tr>
        <td><a href="/users/1">/users/1</a></td>
        <td>Get user by id</td>
      </tr>
    </table>
    <p class="note">Note: You can take a look at the <a href="/docs">documentation</a> for usage examples.</p>
  </div>


<%- include("./partials/footer") %>

<!-- that sends dummy data for testing and prototyping your Frontend applications-->