
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 56rem;
  margin: 0 auto;
  background-color: #f5f9fd;
  color: #201e1e;
}

/* NAVBAR SECTION */
.logo a {
  color: inherit;
  transition-duration: 0.3s;
}

.logo a:hover{
  color: #007d81;
}

.navbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 32px;
}

.navbar-btn{
  display: none;
  border: none;
  background-color: transparent;
}

.navbar-btn img{
  width: 32px;
}

.navbar-btn .menu-icon{
  display: block;
}

.navbar-btn .close-icon{
  display: none;
}

.navbar-btn.active .menu-icon{
  display: none;
}

.navbar-btn.active .close-icon{
  display: block;
}

ul {
  display: flex;
  gap: 24px;
}

ul li{
  list-style: none;
  padding-left: 16px;
}

li a{
  color: #201e1e;
  font-weight: 500;
  transition-duration: 0.3s;
}

li a:hover{
  color: #007d81;
}

/* HERO SECTION */
.hero-section{
  padding: calc(8vh + 8px) 0;
} 

.hero-title{
 font-size: calc(3vw + 32px);
 margin-bottom: 1rem;
}

.hero-subtitle{
  font-size: calc(.8vw + 14px);
  line-height: 1.8;
  margin-bottom: 44px;
}

.action-btn {
  font-size: 20px;
  border-radius: 25px;
  margin: 0 8px;
  transition-duration: 0.3s;
  font-size: calc(.4vw + 14px);
}

.curly-bracket {
  color: #1b6061;
}

.brand-text{
  color: #078385;
}

.doc-btn{
  padding: 10px 12px;
  border: 0 solid;
  color: rgb(228, 233, 236);
  background-color: #1e6c6d;
}

.github-btn{
  background-color: transparent;
  color: #078385;
  padding: 8px 12px;
  border: 2.5px solid
}


/*  ABOUT SECTION */

.about-section{
  padding: calc(4.5vh + 12px) 0 calc(6vh + 12px);
}


/*  SELECTORS FOR MULTIPLE ELEMENTS  */

.header-title{
  font-size: calc(1vw + 24px);
  margin: 12px 0;
}

.underline-text{
  border-bottom: 3px solid #007d81;
}

.desc {
  font-size: calc(.2vw + 16px);
  line-height: 1.8;
  padding: 0 5vw;
}

.note{
  padding: 2rem 6vw;
  font-size: calc(.3vw + 12px);
  font-style: italic;
}

.section {
  margin: 4rem 0;
}

a {
  text-decoration: none;
}

.route-link {
  color: #078385;
}

/*  ROUTES/RESOURCES LIST */

table {
  margin: 30px auto 24px;
  width: 80%;
}

td{
  width: 50%;
  padding: 6px 0;
}

@media screen and (max-width: 951px) {
  body{
    width: 100%;
  }
  .desc {
    padding: 0 32px;
  }

  ul {
    flex-direction: column;
  }

  .navlinks-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    padding: 80px 0 36px;
    display: none
  }

  .navlinks-container.active {
    display: unset;
  }

  .navbar-btn {
    display: unset;
    z-index: 100;
  }
}