@import url("//www.cdnfonts.com/poppins.font");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  text-align: center;
  width: 56rem;
  margin: 0 auto
}

/* HERO SECTION */
.hero-title{
 font-size: calc(2.5vw + 32px);
 margin-bottom: 1rem;
}

.hero-subtitle{
  font-size: calc(.6vw + 14px);
  line-height: 1.8;
}

.action-btn {
  padding: 8px 12px;
  font-size: 20px;
  border-radius: 8px;
  border-width: 1.5px;
  margin: 0 8px;
}

table {
  margin: 0 auto;
}
